// * Це головний sass/scss файл проекту
// * імпортуйте сюди всі інші ваші файли sass/scss
@import "variables/variables.scss";
@import "base/base.scss";
@import "elements/elements.scss";
@import "blocks/blocks.scss";
@import "sections/sections.scss";

$blue: #10BBD5;
$dark-pink: #EA33C0;
$brown: #4C394E;




.header {
	position: sticky;
	top: 0;
	z-index: 2;

}
.button-chat {
	background-color: $blue;
	border-radius: 100px;
	border: none;
	position: fixed;
	right: 0;
	top: 50%;

}
@mixin dedicated ($background, $color, $width, ){
    background-color: $background;
    color: $color;
    width: $width;
    padding: 8px 8px;
    position: absolute;
    border-radius: 4px;

}

.book--hit {
  @include dedicated(#4200FF,white ,20px );
	left: -30px;
	z-index: 1;


}
.book--new {
    @include dedicated(#AF39E7,white ,31px );
	left: -30px;

}

.book--discount {
    @include dedicated(#EA33C0,white ,58px );
  
  }
  
  .book--discount-1 {
  
    left: 20px;
   
  }
  
  .book--discount-2 {
   
    left: 9px;
  
  }
  
  .book--discount-3 {
    
    left: -29px;
    
  }



.header-top {
	background-color: $blue;
	display: flex;
	justify-content: space-between;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 52px;
	padding-right: 52px;


}

.header-top__buy {
	background-image: url(../img/cart_icon.png);

	background-repeat: no-repeat;
	border: none;
	background-color: $blue;
	padding-right: 52px;


}

.header-top__right-items{
	display: flex;
	justify-content: flex-start;
}

.header-top__price {
	padding-top: 10px;
}

.header--white__menu {
	display: flex;
	gap: 40px;
	justify-content: end;

}

.header--white{
	display: flex;
	justify-content: space-between;
	padding: 4px 52px;
	background-color: white;

}

.main__title {
	font-size: 32px;
	padding-top: 32px;
	padding-bottom: 23px;
	padding-left: 52px;
	border-bottom: 1px solid #A8A8A8;
	margin-bottom: 24px;


}

.book-item__img {
	width: 178px;
	height: 280px;
	display: flex;
	margin: 0 auto;

}

.book-item__click {
	text-decoration: none;
	color: black;
	border-bottom: 1px solid grey;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
}

.main__book-item{
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 60px;
}

.main__photos-holder {
	display: grid;
	grid-template-columns: repeat(4, 306px);
	grid-auto-rows: 512px;
	gap: 20px;
	justify-content: center;

}

.main {
	background-color: #EEEEEF;

}



.book-item__button{

	padding: 8px 24px;
	margin-top: 20px;
	background-color: $brown;
	color: white;
	width: 80%;
}

.book-item_button--green{
	background-color: #4D762D;
}

.book-item-change-price {
	display: flex;
}

.book-item__price-old {
	color: gray;
	text-decoration: line-through;
}

.book-item__price{
	color: red;
}






.wrapper {
	width: 1400px;
	margin: 0 auto;
}

.book-item__title{
	margin-top: 16px;
	font-size: 20px;

}

.book-item__author {
	font-size: 16px;
	color: #8E8E8E;

}

.footer {
	height: 88px;
	background-color: $brown;
	color: white;
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 52px;
	padding-right: 52px;
}