/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.g-header {
  display: flex;
  background-color: red;
}
.g-header .header__logo {
  display: block;
  margin-right: 24px;
}

.g-footer {
  background-color: grey;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.button-chat {
  background-color: #10BBD5;
  border-radius: 100px;
  border: none;
  position: fixed;
  right: 0;
  top: 50%;
}

.book--hit {
  background-color: #4200FF;
  color: white;
  width: 20px;
  padding: 8px 8px;
  position: absolute;
  border-radius: 4px;
  left: -30px;
  z-index: 1;
}

.book--new {
  background-color: #AF39E7;
  color: white;
  width: 31px;
  padding: 8px 8px;
  position: absolute;
  border-radius: 4px;
  left: -30px;
}

.book--discount {
  background-color: #EA33C0;
  color: white;
  width: 58px;
  padding: 8px 8px;
  position: absolute;
  border-radius: 4px;
}

.book--discount-1 {
  left: 20px;
}

.book--discount-2 {
  left: 9px;
}

.book--discount-3 {
  left: -29px;
}

.header-top {
  background-color: #10BBD5;
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 52px;
  padding-right: 52px;
}

.header-top__buy {
  background-image: url(../img/cart_icon.png);
  background-repeat: no-repeat;
  border: none;
  background-color: #10BBD5;
  padding-right: 52px;
}

.header-top__right-items {
  display: flex;
  justify-content: flex-start;
}

.header-top__price {
  padding-top: 10px;
}

.header--white__menu {
  display: flex;
  gap: 40px;
  justify-content: end;
}

.header--white {
  display: flex;
  justify-content: space-between;
  padding: 4px 52px;
  background-color: white;
}

.main__title {
  font-size: 32px;
  padding-top: 32px;
  padding-bottom: 23px;
  padding-left: 52px;
  border-bottom: 1px solid #A8A8A8;
  margin-bottom: 24px;
}

.book-item__img {
  width: 178px;
  height: 280px;
  display: flex;
  margin: 0 auto;
}

.book-item__click {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

.main__book-item {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 60px;
}

.main__photos-holder {
  display: grid;
  grid-template-columns: repeat(4, 306px);
  grid-auto-rows: 512px;
  gap: 20px;
  justify-content: center;
}

.main {
  background-color: #EEEEEF;
}

.book-item__button {
  padding: 8px 24px;
  margin-top: 20px;
  background-color: #4C394E;
  color: white;
  width: 80%;
}

.book-item_button--green {
  background-color: #4D762D;
}

.book-item-change-price {
  display: flex;
}

.book-item__price-old {
  color: gray;
  text-decoration: line-through;
}

.book-item__price {
  color: red;
}

.wrapper {
  width: 1400px;
  margin: 0 auto;
}

.book-item__title {
  margin-top: 16px;
  font-size: 20px;
}

.book-item__author {
  font-size: 16px;
  color: #8E8E8E;
}

.footer {
  height: 88px;
  background-color: #4C394E;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 52px;
  padding-right: 52px;
}/*# sourceMappingURL=style.css.map */